* {
    box-sizing: border-box;
    font-family: 'Josefin Slab', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccc;
    padding: 10px;
    text-transform: lowercase;
    background: url('img/background.png');
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    padding: 10px;
    border-bottom: 3px solid #537384;
    background-color: #5fa4ce;
    color: #eee;
}

header h1 {
    font-size: 32px;
    font-family: 'Josefin Slab', sans-serif;
    padding: 5px;
}

.projects {
    display: flex;
    width: 100%;
    margin-top: 60px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
}

.project {
    flex: 0 1 300px;
    height: 250px;
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    border: 2px dashed transparent;

    transition: border ease 0.3s;
}

.project:hover {
    border: 2px dashed #537384;
}

.project a {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    text-decoration: none;
    color: inherit;
}

.project .image {
    flex: 2;
    background: url('img/black.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project .info {
    margin: auto;
}

.project h1 {
    margin: auto;
    margin-top: 5px;
    text-align: center;
    font-size: 32px;
    padding: 5px;
}

.project h2 {
    text-align: left;
    display: none;
}

.project .playnow {
    height: 6px;
    background-color: #5fa4ce;
    float: right;
    width: 100%;
    font-size: 18px;
    transition: height 0.2s, padding 0.2s;
    transition-timing-function: ease;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.project:hover .playnow {
    height: 42px;
    padding: 10px;
}

.project:hover .playnow:before {
    content: "view code"; 
}

.project.playnow {
    order: -2;
}

.project.playnow .playnow {
    background-color: #5fce8c;
}

.project.playnow:hover .playnow:before {
    content: "play online";
}