* {
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    padding: 10px;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    padding: 10px;
    border-bottom: 2px solid black;
}

header h1 {
    font-size: 32px;
}

.projects {
    display: flex;
    width: 100%;
    margin-top: 60px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
}

.project {
    flex: 0 1 300px;
    height: 250px;
    width: 300px;
    border: 2px solid black;
    display: flex;
    padding: 10px;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.project:hover {
    border: 2px dashed black;
    background-color: white;
}

.project .image {
    flex: 2;
    background: url('img/attitude.png');
    background-size: cover;
    background-positioN: center;
    background-repeat: no-repeat;
    border: 2px solid black;
}

.project .info {
    /*flex: 1;*/
    margin: auto;
}

.project h1 {
    margin: auto;
    margin-top: 5px;
    /*border-bottom: 2px solid black;*/
    text-align: center;
}

.project h2 {
    text-align: left;
    display: none;
}