* {
    box-sizing: border-box;
    font-family: 'Josefin Slab', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccc;
    text-transform: lowercase;
    background: url('img/background.png');
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    padding: 10px;
    border-bottom: 3px solid #537384;
    background-color: #5fa4ce;
    color: white;
    z-index: 5;
}

header h1 {
    font-size: 32px;
    font-family: 'Josefin Slab', sans-serif;
    padding: 5px;
}

.projects {
    display: block;
    width: 100%;
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
    padding-top: 20px;
}

.project {
    height: 500px;
    width: 600px;
    margin: 20px auto;
    padding: 20px;
}

.project:hover {
}

.project a {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    text-decoration: none;
    color: inherit;
}

.project .image {
    flex: 2;
    background-image: url('img/black.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    order: 1;
    display: flex;

}

.project .info {
    margin: auto;
    order: 2;
    margin-top: 5px;
    margin-bottom: 5px;
}

.project h1 {
    margin: auto;
    text-align: center;
    font-size: 56px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.project h2 {
    text-align: left;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-transform: initial;
}

.project .playnow {
    height: 42px;
    padding: 10px;
    background-color: #5fa4ce;
    opacity: 0.5;
    width: 100%;
    font-size: 18px;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: auto;
    text-align: center;
    transition: opacity ease 0.2s;
}

.project .playnow:before {
    content: "view code"; 
}

.project:hover .playnow {
    opacity: 1;
}

.project.playnow .playnow {
    background-color: #5fce8c;
}

.project.playnow .playnow:before {
    content: "play online";
}